/* Estilo para la sección Nosotros */
.about {
	padding: 80px 0; /* Ajusta el padding según sea necesario */
	background-color: #f9f9f9; /* Color de fondo */
  }
  
  /* Estilo para el contenedor principal */
  .about__container {
	display: grid;
	grid-template-columns: 1fr; /* Una columna */
	gap: 20px; /* Espacio entre elementos */
	align-items: center;
	justify-content: center;
	text-align: center;
  }
  
  /* Estilo para el título */
  .section__title {
	font-size: 2.5rem; /* Tamaño de fuente */
	margin-bottom: 20px; /* Espacio inferior */
  }
  
  /* Estilo para la descripción */
  .about__description {
	font-size: 1.1rem; /* Tamaño de fuente */
	color: #555; /* Color del texto */
  }
  